.content
        .arrows
            i(class="fas fa-arrow-alt-circle-left", id="leftArrow")
        .announcementContent
            .announcementMessage
            .circleTab
        .arrows
            i(class="fas fa-arrow-alt-circle-right", id="rightArrow")